{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue à la page d'accueil</h1>


        <main  class="float-right">


            <h2>Liste des catégories</h2>
            <ul class="list-group">
                {% for category in categories %}
                    {% if category.voyages.count > 0 %}
                        <li class="list-group-item list-group-item-action">
                            <a href="{{ path(
                                'app_voyage_listbycategory',
                                {id: category.id}
                            ) }}">{{ category.continent }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </main>

{% endblock %}